---
layout: 'base.njk'
---

<main>
  <article class="bg-light-gray text-center">

    <div class="py-4 py-lg-5"><!--Spacer--></div>
    
    <h1>404 Error.</h1>
    <div class="py-3"><!--Spacer--></div>
    This page was not found.
    <div class="py-3"><!--Spacer--></div>
    Please check the url or start again from the <a class="fw-700" href="/">Homepage</a>

    <div class="py-4 py-lg-5"><!--Spacer--></div>

  </article>
</main>
